.icon-wts{
    width: 55px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    &:active{
        transform: scale(0.9);
    }
}
@media (min-width:992px){
    .icon-wts{
        width: 55px;
        position: fixed;
        bottom: 70px;
        right: 20px;
        cursor: pointer;
        &:active{
            transform: scale(0.9);
        }
    }    
}